// Reset styles
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font: 400 16px/1.5 sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
