@import '../../styles/variables';

.card {
  width: $card-width;
  height: $card-height;
  @include flex-column-space-around;
  padding: 1rem 3rem;
  border-radius: $border-radius;
  background-color: $card-background-color;
  box-shadow: $box-shadow;
  overflow: hidden; 
}
